*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


table tr td{
  padding-bottom: 20px;
}

table{
  width: 100%;
}
.popupactive{
  display: block!important;
}
.popupdeactive{
  display: none!important;
}